{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body>
<div class="login-wrapper">
    <div class="login-content">
        <h3>Sign Up</h3>
        <form method="post" action="{% url 'signup_view' %}">
            {% csrf_token %}
            <label>Username:
                <input type="text" name="username" required>
            </label><br>
            <label>Email:
                <input type="email" name="email" required>
            </label><br>
            <label>Password:
                <input type="password" name="password" required>
            </label><br>
            <label>Confirm Password:
                <input type="password" name="password2" required>
            </label><br>
            <button type="submit">Sign Up</button>
        </form>
        {% for message in messages %}
        <p style="color: red">{{ message }}</p>
        {% endfor %}
    </div>
</div>
</body>
</html>
